<body>
    <div id="character-info" class="section">
        <div id="name"></div>
        <div id="player"></div>
        <div id="species"></div>
        <div id="classLevel-1"></div>
        <div id="age"></div>
        <div id="gender"></div>
        <div id="height"></div>
        <div id="weight"></div>
    </div>

    <div id="dark-side-score" class ="section">

    </div>

    <div id="character-stats" class="section">
        <div id="strength"></div>
        <div id="dexterity"></div>
        <div id="constitution"></div>
        <div id="intelligence"></div>
        <div id="wisdom"></div>
        <div id="charisma"></div>
    </div>

    <div id="condition-tracker" class="section"></div>

    <div id="hit-points" class="section"></div>

    <div id="quick-reference" class="section">
        <div id="speed"></div>
        <div id="initiative-bonus"></div>
        <div id="base-attack-bonus"></div>
    <div id="damage-threshold" class="subsection">
        
    </div>
        <div id="force-points"></div>
        <div id="destiny-points"></div>
    </div>

    <div id="defenses" class="section">
        <div id="resistances" class="subsection">
            <div id="dmg-resistance"></div>
            <div id="shield-resistance"></div>
        </div>
    </div>

    <div id="defense-classes" class="subsection">
        <div id="fortitude-defence" class="detail-section"></div>
        <div id="reflex-defence" class="detail-section"></div>
        <div id="will-defence" class="detail-section"></div>
    </div>
    </div>

    <div id="special-combat-actions" class="subsection">

    </div>

    <div id="force-powers" class="section">
        
    </div>

    <div id="skills" class="subsection">
        <div id="acrobatics" class="skill-details">

        </div>
    </div>

    <div id="weapons" class="subsection">
        <div id="weapon-1" class="weapon-details">

        </div>
    </div>

    <div id="inventory" class="section">
        <div id="item" class="item-details">
            
        </div>
        <div id="credits"></div>
    </div>

    <div id="feats" class="section">

    </div>

    <div id="talents" class="section">

    </div>
</body>

