<body>
    <div id="mainMenu" class="menu">
        <div class="homeMenuCard">
            <div id="selectCharacter" class="homeMenuOption">
                <p>Select your character:</p>
                <button type="button" class = "button-87">Gris</button>
                <a href="/characterSheet/62c438f19417d0d8150c41dc"><button type="button" class = "button-87">Imia</button></a>
                <button type="button" class = "button-87">Ruk</button>
                <div id = "newCharacter">
                    <button type="button" class = "button-87" disabled>New Character</button>
                    <p>Coming soon!</p>
                </div>
            </div>
        </div>
        <div class="homeMenuCard">
            <div id="admin" class="homeMenuOption">
                <p>Select admin task:</p>
    
                <div id = "addClass">
                    <a><button type="button" class = "button-87" disabled>Add Class</button></a>
                    <p>Coming soon!</p>
                </div>

                <div id="addFeat">
                    <a><button type="button" class = "button-87" disabled>Add Feat</button></a>
                    <p>Coming soon!</p>
                </div>

               <div id="addTalentTree">
                    <a><button type="button" class = "button-87" disabled>Add Talent Tree</button></a>
                    <p>Coming soon!</p>
                </div> 
            </div>
        </div>
    </div>
</body>