<body>
    <div id="goToCharacterCreator" class="homeMenuOption">
        <div id="CharacterCreatorInfo" class="homeMenuOptionDesc">
            <p>An easy to follow character creator for Saga Edition games</p>
        </div>
        <button type="button">Create Character</button>
    </div>
</body>