<body>
    <div id="mainMenu" class="menu">
        <div class="homeMenuCard">
            <div id="goToCharacterCreator" class="homeMenuOption">
                <p>An easy to follow character creator for Saga Edition games</p>
                <button type="button">Create Character</button>
            </div>
        </div>
        <div class="homeMenuCard">
            <div id="goToCharacterSheet" class="homeMenuOption">
                <p>View your character sheet</p>
                <a href="/characterSheet"><button type="button">View Character</button></a>
            </div>
        </div>
    </div>
</body>