.pageContainer{
    margin: 50px;
    padding: 60px;
    background-color: rgb(255, 254, 213);
    box-shadow: 15px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0auto;
    align-items: center;
}
.homeMenuCard{
    border: 5px;
    border-color: grey;
    border-radius: 5px;
    box-shadow: 20px;
    background-color: rgb(254, 220, 255);
    width: 20%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.homeMenuOption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    align-items: center;
    padding: 8pt;
}