h2{
    font-size: 12pt;
    margin: 0;
}
h3{
    font-size: 11pt;
    margin: 0;
}
h4{
    font-size: 10pt;
    margin: 0;
}
.pageContainer{
    margin: 3%;
    margin-top:4%;
    padding: 1%;
    background-color: rgb(255, 254, 213);
    /* box-shadow: */
}
.menu{
    display: flex;
    flex-wrap: wrap;
    margin: 0auto;
    align-items: center;
}
.homeMenuCard{
    border: 5px;
    border-color: grey;
    border-radius: 5px;
    box-shadow: 20px;
    background-color: rgb(254, 220, 255);
    width: 20%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-width: fit-content;
    align-items: center;
}
.homeMenuOption{
    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    padding: 8pt;
}
/* .homeMenuCard button{
    padding: 4px;
    margin: 4px;
    font-weight: bolder;
} */

.button-87 {
  margin: 8px;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  /* box-shadow: 0px 0px 14px -7px #f09819; */
  /* box-shadow: 0px 0px 14px -7px #000000; */
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-87:active {
  transform: scale(0.95);
}
.button-87:disabled {
    /* box-shadow: 0px 0px 14px -7px #000000; */
    background-image: linear-gradient(45deg, #868180 0%, #e6dac9  51%, #868180  100%);
}

.character-section{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    padding: 10px;
    border-radius: 5px;
    border-style:groove;
    border-width: .5px;
}
.section-item{
    margin-inline: 8px;
    justify-content: space-between;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:5px;
}

.section-item{
    display: flex;
    flex-direction:row;
}
.character-info-input{
    background-color: inherit;
    border-style:inset;
    border-radius: 5px;
    font-size: 10pt;
    border-width: .4px;
    margin:0;
    /* margin-left: .1%; */
    margin-inline-start: 5px;
}
.character-info-input-number{
    max-width: 20%;
    min-width: 20%;
}
.classLevel-subsect{
    display:flex;
    flex-direction: row;
    margin: 5px;
    justify-content: space-between;
}
.condition-tracker{
    width: 70%;
    background-color: ivory;
    align-items: center;
}
.condition-tracker-step{
    width:12%;
    justify-content: space-between;
    padding-inline-end: .8%;
    border-style: groove;
    border-width: .5px;
    border-radius: 5px;
    padding-inline: 5px;
}
.condition-tracker-step p{
    font-size: 9pt;
    font-style: italic;
}
.hp-tracker{
    text-align: center;
    max-width: 17%;
    position: relative;
}

.hp-tracker::before {
    content: "";
    position: absolute;
    left: -1%;
    border: .3px solid gray;
    height: 100%;
}

.hp-modify-type{
    border-radius: 5px;
    border-width: 1px;
}
.character-attribute{
    width:12%;
    justify-content: center;
    align-items: center;
    padding: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-width: .5px;
    border-radius: 5px;
}
.character-attribute-score-input{
    min-width: 40%;
}
.attribute-modifier{
    margin-top: 8px;
}
.quick-ref-item{
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: groove;
    border-width: .5px;
    border-radius: 5px;
    margin: 4px;
}
#newCharacter{
    padding: 4px;
    margin: 4px;
    background-color: slategrey;
    border-style: groove;
    border-width: .5px;
    border-radius: 5px;
}
#classLevel{
    padding: 7px;
    align-items: center;
    justify-content: center;
    background-color: ivory;
}
#classLevel{
    flex-direction: column;
}
#character-info{
    max-width: 90%;
}
#dark-side-score{
    max-width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 5px;
}
#condition-tracker-title{
    font-weight:bolder;
    width:min-content
}
#hp-modify-heal{
    background-color: rgb(203, 230, 203);
}
#hp-modify-damage{
    background-color: rgb(217, 193, 193);
}
#character-attributes{
    max-width: 60%;
    min-height: fit-content;
    /* flex-direction: column; */
}
#quick-reference{
    width: 12%;
}
